# APP
GIN_MODE=release
WEATHER_PORT=8080
READ_TIMEOUT=5
WRITE_TIMEOUT=10
IDLE_TIMEOUT=30

GRPC_ADDR=mailer:8081

#PostgreSQL
DB_NAME=weather
DB_PASSWORD=password
DB_USER=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_SSL_MODE=disable
MAX_OPEN_CONNS=30
DB_MAX_IDLE_CONNS=30
DB_MAX_IDLE_TIME=15m

#Redis
REDIS_ADDR=127.0.0.1:6378
REDIS_DB=0
REDIS_PASSWORD=password

MIGRATION_PATH=./internal/database/migrations

#WEATHER API
WEATHER_API_KEY=api-key
WEATHER_SERVICE_URL=http://api.weatherapi.com/v1/current.json

#VISUALCROSSING API
VISUALCROSSING_API_KEY=api-key
VISUALCROSSING_SERVICE_URL=https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/

#MAIL SERVICE
MAILER_PORT=8081

#SMTP
SMTP_USER=example@example.com
SMTP_PASS=passwd
SMTP_HOST=host
SMTP_PORT=port